body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.widget {
  background: linear-gradient(to bottom right, #e4f4ff, #fff);
  border-radius: 2px 2px 14px 14px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  width: 540px;
}

.credit {
  padding-top: 6px;
  position: relative;
  left: 28px;
}

.credit p {
  display: inline;
}
