.enter,
.search,
.current {
  border: 1px solid #a3d4f7;
}

.enter {
  border-bottom-left-radius: 0;
  height: 56px;
  padding: 26px 0 26px 16px;
}

.search,
.current {
  background: #ffefe4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  color: #646464;
  height: 56px;
  min-width: 90px;
}

.search {
  border-top-right-radius: 0;
}

.search:hover,
.current:hover {
  background: #ffe0cb;
  border: 1px solid #84acc9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.current-weather {
  padding: 20px 15px 20px 15px;
}

.temp-box {
  background: #fff;
  border-radius: 4px 4px 10px 10px;
  box-shadow: 4px 4px 4px rgba(71, 29, 29, 0.05);
  padding: 10px 10px 14px 14px;
}

.icon-display {
  margin: 4px 0 0 12px;
  width: 68px;
}

.temp-box h1 {
  font-size: 50px;
}

hr {
  margin: 0;
}

.location-display {
  font-size: 28px;
  padding-top: 18px;
  text-align: right;
}

.date-time {
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}

#description {
  font-size: 18px;
  font-weight: 300;
  text-align: right;
}

.extra-info {
  padding: 5px 0 0 14px;
  font-size: 16px;
}
